.marker-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  row-gap: 8px;

  &--text {
    row-gap: 16px;
  }

  @include vp-768 {
    row-gap: 16px;

    &--text {
      row-gap: 22px;
    }
  }

  @include vp-1600 {
    row-gap: size(16px);

    &--text {
      row-gap: size(24px);
    }
  }
}

.marker-list__item {
  padding-left: 20px;
  position: relative;

  @include vp-768 {
    padding-left: 23px;
  }

  @include vp-1600 {
    padding-left: size(23px);
  }
}

.marker-list__term {
  margin: 0;
  background-image: $gold-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &--small-limitation {
    padding-right: 9px;

    @include vp-768 {
      padding-right: 0;
    }
  }

  &--big-limitation {
    padding-right: 63px;

    @include vp-768 {
      padding-right: 0;
    }
  }

  & br {
    display: none;
  }

  @include vp-768 {
    & br {
      display: inline;
      vertical-align: baseline;
    }
  }
}

.marker-list__marker {
  position: absolute;
  left: 0;
  top: 1px;

  & svg {
    width: 12px;
    height: 12px;
  }

  @include vp-768 {
    top: 0;

    & svg {
      width: 15px;
      height: 15px;
    }
  }

  @include vp-1600 {
    & svg {
      width: size(15px);
      height: size(15px);
    }
  }
}

.marker-list .marker-list__text {
  margin-bottom: 0;
  color: rgba($color-default-white, 0.5);
  -webkit-text-fill-color: unset;

  @include vp-768 {
    margin-top: 8px;
    font-size: 14px;
    line-height: 130%;
  }

  @include vp-1600 {
    margin-top: size(8px);
    font-size: size(14px);
  }
}
