-
  const articlesCard = [
        {
          text: "Стерилизация и кастрация кошек - отличия и последствия",
          time: "Читать 6 минут",
          href: "https://www.proplan.ru/cat/article/kastratsiia-i-stierilizatsiia-v-chiem-raznitsa-zdorov-ie-obraz-zhizni-i-poviedieniie-kotov-i-koshiek-poslie-opieratsii/"
        },
        {
          text: "Кастрация и стерилизация кошек",
          time: "Читать 22 минуты",
          href: "https://www.proplan.ru/cat/article/kastraciya-i-sterilizaciya-koshki/"
        },
        {
          text: "Плюсы и минусы стерилизации. В каком возрасте кастрировать котенка",
          time: "Читать 11 минут",
          href: "https://www.proplan.ru/vet/medicina/article/kastraciya-i-sterilizaciya-koshek-preimuschestva-ranney-kastracii-ukhod-i"
        },
        {
          text: "Ранняя кастрация котят",
          time: "Читать 16 минут",
          href: "https://www.proplan.ru/cat/article/rannjaja-kastracija-kotjat/"
        },
        {
          text: "Как ухаживать за питомцем после стерилизации и кастрации",
          time: "Читать 3 минуты",
          href: "https://www.proplan.ru/cat/article/kak-ukhazhivat-za-pitomtsiem-poslie-kastratsii-ili-stierilizatsii/"
        },
        {
          text: "Уход за кошкой после операции",
          time: "Читать 5 минут",
          href: "https://www.proplan.ru/cat/article/zhizn-poslie-opieratsii-ukhod-zdorov-ie-poddierzhaniie-optimal-nogho-viesa/"
        },
        {
          text: "Кастрация, стерилизация, уход после операции",
          time: "Читать 4 минуты",
          href: "https://www.proplan.ru/cat/article/kastraciya-sterilizaciya-uhod-posle-operacii/"
        },
  ]
