-
  var guide = {
    firstStep: {
      title: "подготовка к стерилизации",
      active: "yes",
      slides: [
        {
          name: "Зачем нужна стерилизация?",
          text: "Посмотрите видео, чтобы вместе с&nbsp;ветеринарным экспертом разобраться в&nbsp;основных преимуществах стерилизации.",
          image: "guide-step-1-slide-1-image",
          imageAlt: "Изображение кота",
          buttons: [
            {
              btnText: "смотреть видео-совет",
              btnImage: "guide-image-btn-1",
              btnImageAlt: "Изображение в кнопке",
              btnIcon: "icon-play",
              btnClass: "video",
              btnModal: "video",
              btnVideoLink: "https://www.youtube.com/embed/d2IGeuHA4KA?enablejsapi=1",
              btnVideoTitle: "Зачем нужна стерилизация?",
            },
            {
              btnText: "скачать чек-лист",
              btnImage: "",
              btnImageAlt: "",
              btnIcon: "icon-download",
              btnClass: "check-list",
              btnModal: "check-list1",
              btnPdfDesktopLink: "./documents/Чем кастрация отличается от стерилизации и как проходит операция.pdf",
              btnPdfMobileLink: "./documents/Чем кастрация отличается от стерилизации и как проходит операция(мобильная версия).pdf",
              btnVideoTitle: "Зачем нужна стерилизация?",
            },
          ],
        },
        {
          name: "Когда лучше стерилизовать кошку?",
          text: "Сколько месяцев должно быть кошке, чтобы стерилизация прошла безопасно? Узнайте у&nbsp;эксперта PRO PLAN®.",
          image: "guide-step-1-slide-2-image",
          imageAlt: "Изображение кота",
          buttons: [
            {
              btnText: "смотреть видео-совет",
              btnImage: "guide-image-btn-1",
              btnImageAlt: "Изображение в кнопке",
              btnIcon: "icon-play",
              btnClass: "video",
              btnModal: "video",
              btnVideoLink: "https://www.youtube.com/embed/Zvux16_5FMo?enablejsapi=1",
              btnVideoTitle: "Когда лучше стерилизовать кошку?",
            },
            {
              btnText: "скачать чек-лист",
              btnImage: "",
              btnImageAlt: "",
              btnIcon: "icon-download",
              btnClass: "check-list",
              btnModal: "check-list2",
              btnPdfDesktopLink: "./documents/Какие обследования и анализы нужны перед операцией.pdf",
              btnPdfMobileLink: "./documents/Какие обследования и анализы нужны перед операцией(мобильная версия).pdf",
              btnVideoTitle: "Когда лучше стерилизовать кошку?",
            },
          ],
        },
        {
          name: "Подготовка кошки к&nbsp;стерилизации",
          text: "Заранее показать питомца ветеринарному эксперту, сдать анализы и&nbsp;даже изменить питание&nbsp;&mdash; всё это важно. Посмотрите видео, чтобы правильно подготовить вашу кошку к&nbsp;операции.",
          image: "guide-step-1-slide-3-image",
          imageAlt: "Изображение кота",
          buttons: [
            {
              btnText: "смотреть видео-совет",
              btnImage: "guide-image-btn-1",
              btnImageAlt: "Изображение в кнопке",
              btnIcon: "icon-play",
              btnClass: "video",
              btnModal: "video",
              btnVideoLink: "https://www.youtube.com/embed/fUcL81u0UXQ?enablejsapi=1",
              btnVideoTitle: "Подготовка кошки к стерилизации",
            },
            {
              btnText: "скачать чек-лист",
              btnImage: "",
              btnImageAlt: "",
              btnIcon: "icon-download",
              btnClass: "check-list",
              btnModal: "check-list3",
              btnPdfDesktopLink: "./documents/Какие условия нужны кошке после операции.pdf",
              btnPdfMobileLink: "./documents/Какие условия нужны кошке после операции(мобильная версия).pdf",
              btnVideoTitle: "Подготовка кошки к стерилизации",
            },
          ],
        },
      ]
    },
    secondStep: {
      title: "Первая неделя после стерилизации",
      active: "no",
      slides: [
        {
          name: "Изменения <br> в поведении кошки",
          text: "Хозяева подмечают разные изменения в&nbsp;поведении стерилизованного питомца. Какие из&nbsp;них&nbsp;&mdash; повод обратиться к&nbsp;ветеринарному эксперту? Посмотрите видео, чтобы узнать подробнее.",
          image: "guide-step-2-slide-1-image",
          imageAlt: "Изображение кота",
          buttons: [
            {
              btnText: "смотреть видео-совет",
              btnImage: "guide-image-btn-1",
              btnImageAlt: "Изображение в кнопке",
              btnIcon: "icon-play",
              btnClass: "video",
              btnModal: "video",
              btnVideoLink: "https://www.youtube.com/embed/OIh1vRPwmSs?enablejsapi=1",
              btnVideoTitle: "Изменения в поведении кошки",
            },
            {
              btnText: "скачать чек-лист",
              btnImage: "",
              btnImageAlt: "",
              btnIcon: "icon-download",
              btnClass: "check-list",
              btnModal: "check-list4",
              btnPdfDesktopLink: "./documents/Как ухаживать за кошкой в первые дни после операции.pdf",
              btnPdfMobileLink: "./documents/Как ухаживать за кошкой в первые дни после операции(мобильная версия).pdf",
              btnVideoTitle: "Изменения в поведении кошки",
            },
          ],
        },
      ]
    },
    thirdStep: {
      title: "Уход за стерилизованным питомцем",
      active: "no",
      slides: [
        {
          name: "Как ухаживать за&nbsp;кошкой после стерилизации?",
          text: "После стерилизации организм кошек меняется. Какие изменения происходят и&nbsp;на&nbsp;что обращать внимание? Узнайте у&nbsp;ветеринарного эксперта.",
          image: "guide-step-3-slide-1-image",
          imageAlt: "Изображение кота",
          buttons: [
            {
              btnText: "смотреть видео-совет",
              btnImage: "guide-image-btn-1",
              btnImageAlt: "Изображение в кнопке",
              btnIcon: "icon-play",
              btnClass: "video",
              btnModal: "video",
              btnVideoLink: "https://www.youtube.com/embed/rB3zVQQ55F8?enablejsapi=1",
              btnVideoTitle: "Как ухаживать за кошкой после стерилизации?",
            },
            {
              btnText: "чек-лист: уход за кошкой в первые дни после операции",
              btnImage: "",
              btnImageAlt: "",
              btnIcon: "icon-download",
              btnClass: "check-list",
              btnModal: "check-list5",
              btnPdfDesktopLink: "./documents/Как часто нужно показывать кошку врачу чек-лист диспансеризации.pdf",
              btnPdfMobileLink: "./documents/Как часто нужно показывать кошку врачу чек-лист диспансеризации(мобильная версия).pdf",
              btnVideoTitle: "Как ухаживать за кошкой после стерилизации?",
            },
            {
              btnText: "чек-лист по тревожным симптомам",
              btnImage: "",
              btnImageAlt: "",
              btnIcon: "icon-download",
              btnClass: "check-list",
              btnModal: "check-list6",
              btnPdfDesktopLink: "./documents/Тревожные симптомы как понять, что со здоровьем кошки что-то не так.pdf",
              btnPdfMobileLink: "./documents/Тревожные симптомы как понять, что со здоровьем комки что-то не так(мобильная версия).pdf",
              btnVideoTitle: "Как ухаживать за кошкой после стерилизации?",
            },
          ],
        },
        {
          name: "Как подобрать рацион для стерилизованной кошки?",
          text: "Внимание к&nbsp;здоровью стерилизованной кошки начинается с&nbsp;питания. PRO PLAN®&nbsp;&mdash; признанный эксперт в&nbsp;этой области. Посмотрите видео, чтобы узнать подробнее.",
          image: "guide-step-3-slide-2-image",
          imageAlt: "Изображение кота",
          buttons: [
            {
              btnText: "смотреть видео-совет",
              btnImage: "guide-image-btn-2",
              btnImageAlt: "Изображение в кнопке",
              btnIcon: "icon-play",
              btnClass: "video",
              btnModal: "video",
              btnVideoLink: "https://www.youtube.com/embed/j6nA73TqjpU?enablejsapi=1",
              btnVideoTitle: "Как подобрать рацион для стерилизованной кошки?",
            },
            {
              btnText: "скачать чек-лист",
              btnImage: "",
              btnImageAlt: "",
              btnIcon: "icon-download",
              btnClass: "check-list",
              btnModal: "check-list7",
              btnPdfDesktopLink: "./documents/Как подобрать правильный корм.pdf",
              btnPdfMobileLink: "./documents/Как подобрать правильный корм(мобильная версия).pdf",
              btnVideoTitle: "Как подобрать рацион для стерилизованной кошки?",
            },
          ],
        },
      ]
    },
  }
