-
  const partnersList = [
    {
      iconColor: {
        name: "icon-petshop",
        width: 141,
        height: 21,
      },
      iconGrey: {
        name: "icon-petshop-grey",
        width: 141,
        height: 21,
      },
      href: 'https://www.petshop.ru/brand/purina_pro_plan/cats/#p611=3672',
      title: "Petshopru"
    },
    {
      iconColor: {
        name: "icon-yandex",
        width: 140,
        height: 39,
      },
      iconGrey: {
        name: "icon-yandex-grey",
        width: 140,
        height: 39,
      },
      href: 'https://market.yandex.ru/catalog--korma-dlia-koshek/71971/list?glfilter=7893318%3A10716628&glfilter=13333460%3A13333462%2C13333461&glfilter=16229150%3A16229151&cpa=0&hid=15685457&no-product-line=1&onstock=0&fesh=924574&local-offers-first=0',
      title: "Яндекс Маркет"
    },
    {
      iconColor: {
        name: "icon-4-lapy",
        width: 124,
        height: 60,
      },
      iconGrey: {
        name: "icon-4-lapy-grey",
        width: 124,
        height: 60,
      },
      href: 'https://4lapy.ru/catalog/koshki/korm-koshki/sukhoy/?section_id=3&Brand=proplan&FeedSpec=00000016&sort=popular',
      title: "Четыре Лапы"
    },
    {
      iconColor: {
        name: "icon-zootorg",
        width: 140,
        height: 33,
      },
      iconGrey: {
        name: "icon-zootorg-grey",
        width: 140,
        height: 33,
      },
      href: 'https://zoopt.ru/catalog/tovary_dlya_koshek/korm_dlya_koshek/filter/proizvoditel-is-purina_pro_plan/apply/',
      title: "ЗООПТТОРГ"
    },
    {
      iconColor: {
        name: "icon-ozon",
        width: 98,
        height: 33,
      },
      iconGrey: {
        name: "icon-ozon-grey",
        width: 98,
        height: 33,
      },
      href: 'https://www.ozon.ru/category/korm-dlya-koshek-12348/pro-plan-7610736/?seller=0',
      title: "Ozon"
    },
    {
      iconColor: {
        name: "icon-zoogalery",
        width: 140,
        height: 24,
      },
      iconGrey: {
        name: "icon-zoogalery-grey",
        width: 140,
        height: 24,
      },
      href: 'https://zoo-galereya.ru/koshki/korma/proplan.html',
      title: "ZOO-GALEREYA"
    },
    {
      iconColor: {
        name: "icon-wb",
        width: 141,
        height: 39,
      },
      iconGrey: {
        name: "icon-wb-grey",
        width: 141,
        height: 39,
      },
      href: 'https://www.wildberries.ru/catalog/0/search.aspx?page=1&sort=popular&search=%D0%BF%D1%80%D0%BE+%D0%BF%D0%BB%D0%B0%D0%BD&f124930=7898647%3B6055025',
      title: "WILDBERRIES"
    },
    {
      iconColor: {
        name: "icon-zoozavr",
        width: 110,
        height: 33,
      },
      iconGrey: {
        name: "icon-zoozavr-grey",
        width: 110,
        height: 33,
      },
      href: 'https://zoozavr.detmir.ru/catalog/index/name/korm_dly_koshek/brand/18742/naznachenie_korm_koshk-dlya_sterilizovannyh_koshek/',
      title: "ЗООЗАВР"
    },
    {
      iconColor: {
        name: "icon-lemyr",
        width: 124,
        height: 60,
      },
      iconGrey: {
        name: "icon-lemyr-grey",
        width: 124,
        height: 60,
      },
      href: 'https://msk.lemurrr.ru/catalog/cat/brand_proplan?sort=brand-line',
      title: "Ле'Муррр"
    }
  ]
