-
  var rationsList = [
    {
      titleh2: "Широкая линейка сбалансированных рационов",
      text: "Питание PRO PLAN® STERILISED разработано профессионалами специально для особых потребностей стерилизованных кошек разных возрастов с разнообразием вкусов и текстур.",
      image: "rations-proplan-sterilised",
      imageAlt: "Изображение питания PRO PLAN STERILISED с его преимуществами",
      btnText: "Линейка PRO PLAN® STERILISED",
      desktopText: "Линейка PRO PLAN® STERILISED",
      btnIcon: "icon-proplan",
    },
    {
      title: "Рацион для поддержания здоровья почек",
      text: "Формула OPTIRENAL® поддерживает здоровье почек благодаря сочетанию каротиноидов, витаминов Е и С, омега-3 жирных кислот и аргинина.",
      image: "rations-optirenal",
      imageAlt: "Изображение питания OPTIRENAL с его преимуществами",
      btnText: "Поддержание здоровья почек",
      desktopText: "Рацион для поддержания здоровья почек",
      btnIcon: "icon-optirenal",
    },
    {
      title: "Рацион для поддержания здорового пищеварения",
      text: "Формула OPTIDIGEST® способствует поддержанию здоровья пищеварительной системы благодаря пребиотикам.",
      image: "rations-optidigest",
      imageAlt: "Изображение питания OPTIDIGEST",
      btnText: "Поддержание пищеварения",
      desktopText: "Рацион для поддержания пищеварения",
      btnIcon: "icon-optidigest",
    },
    {
      title: "Рацион с увеличенной вкусовой привлекательностью",
      text: "Формула OPTISAVOUR® — высокая вкусовая привлекательность, обусловленная содержанием разных источников белка.",
      image: "rations-optisavour",
      imageAlt: "Изображение питания OPTISAVOUR",
      btnText: "Увеличенная вкусовая привлекательность",
      desktopText: "Рацион с увеличенной вкусовой привлекательностью",
      btnIcon: "icon-optisavour",
    },
    {
      title: "Рацион для стерилизованных котят",
      text: "Формула OPTISTART® поддерживает иммунитет котенка блягодаря молозиву в составе, которое улучшает баланс кишечной микрофлоры и стимулирует местный кишечный иммунитет.",
      image: "rations-optistart",
      imageAlt: "Изображение питания OPTISTART",
      btnText: "Для стерилизованных котят",
      desktopText: "Рацион для стерилизованных котят",
      btnIcon: "icon-optistart",
    },
    {
      title: "Рацион для увеличения продолжительности жизни",
      text: "Формула LONGEVIS® доказано увеличивает продолжительность и качество жизни.",
      image: "rations-longevis",
      imageAlt: "Изображение питания LONGEVIS",
      btnText: "Увеличение продолжительности жизни®",
      desktopText: "Рацион для увеличения продолжительности жизни",
      btnIcon: "icon-longevis",
    },
    {
      title: "Рацион для поддержания здоровья органов чувств",
      text: "Формула OPTISENSES® поддерживает жизненно важные органы чувств кошек и когнитивные функции за счет сочетания питательных веществ, таких как аргинин, омега-3 жирные кислоты, витамины группы В и антиоксиданты.",
      image: "rations-optisenses",
      imageAlt: "Изображение питания OPTISENSES",
      btnText: "Поддержание здоровья органов чувств",
      desktopText: "Рацион для поддержания здоровья органов чувств",
      btnIcon: "icon-optisenses",
    },
  ]
