//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-video
include ./modals/modal-check-list

//- Blocks

include ./blocks/intro
include ./blocks/guide
include ./blocks/choose
include ./blocks/partners
include ./blocks/rations
include ./blocks/articles
include ./blocks/difference
include ./blocks/preparation
include ./blocks/conditions
include ./blocks/attentions
include ./blocks/examination
include ./blocks/anxiety
include ./blocks/select
include ./blocks/map
include ./blocks/map-iframe

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/btn-with-img

//- Data

include ./data/guide
include ./data/partners-list
include ./data/rations-list
include ./data/articles-card
